# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules


# Exclude sourcemaps
*.map

# Don't include the compiled files in the repo.
main.js
styles.css
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

