.persian-calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.persian-calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem;
	padding: 0px 14px;
	width: 100%;
}

.persian-calendar-navigation {
	display: flex;
	align-items: center;
}

.persian-calendar-today-button {
	cursor: pointer;
	color: var(--interactive-accent);
	font-weight: bold;
	margin: 0 7px;
}

.persian-calendar-change-month-arrow {
	cursor: pointer;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.persian-calendar-change-month-arrow:hover {
	opacity: 0.6;
}

.persian-calendar-month-year {
	display: flex;
	flex-direction: row-reverse;
	padding-right: 10px;
	padding-top: 5px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.persian-calendar-month-year-top {
	display: flex;
	align-items: center;
}

.persian-calendar-month {
	color: var(--interactive-accent);
	padding-left: 5px;
	font-weight: bold;
	font-size: large;
}

.persian-calendar-year {
	font-size: large;
	font-weight: bold;
}

.persian-calendar-gregorian-month-year,
.persian-calendar-hijri-month-year {
	font-size: small;
	color: gray;
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
}

.persian-calendar-content {
	display: grid;
	grid-template-rows: auto repeat(6, auto);
	/* 1 row for header, 6 for the weeks */
	gap: 5px;
	direction: rtl;
	padding: 0 12px;
}

.persian-calendar-weekdays-header {
	grid-column: 2 / span 7;
	/* Weekday headers start at the second column and span 7 columns */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/* 7 days of the week */
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

.persian-calendar-weekday,
.persian-calendar-weekday-header {
	padding: 5px;
	text-align: center;
	height: 2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

.persian-calendar-week-numbers {
	display: grid;
	grid-template-rows: repeat(6, auto);
	/* 6 weeks */
	text-align: center;
	grid-column: 1;
	/* Week numbers stay in the first column */
	grid-row: 2 / span 6;
	/* Align with the rows of days */
	border-left: 1px solid var(--background-modifier-border);
}

.persian-calendar-days-grid {
	display: grid;
	align-items: start;
	grid-row: 2 / span 6;
	/* Align with the rows of days */
}

.persian-calendar-week-number {
	padding: 5px;
	background-color: var(--background-secondary);
	color: var(--text-normal);
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	height: 2rem;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 0.8rem;
	flex-direction: column;
	position: relative;
}

.persian-calendar-day {
	padding: 0.3rem;
	background-color: var(--color-background-day);
	color: var(--text-normal);
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	height: 2.7rem;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 0.95rem;
	flex-direction: column;
	position: relative;
}

.persian-date {
	font-size: 1rem;
}

.gregorian-date {
	font-size: 0.7rem;
	color: inherit;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.hijri-date {
	font-size: 0.7rem;
	color: inherit;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}

.gregorian-date-corner {
	font-size: 0.55rem;
	color: inherit;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 3px;
}

.hijri-date-corner {
	font-size: 0.55rem;
	color: inherit;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 3px;
}

.persian-calendar-day.dim {
	opacity: 0.2;
}

.persian-calendar-day:hover {
	background-color: var(--background-secondary-alt);
}

.persian-calendar-day.today {
	background: var(--interactive-accent);
	font-weight: bold;
	color: var(--interactive-normal) !important;
}

.persian-calendar-day.has-note::before {
	content: "\2022";
	color: var(--interactive-accent);
	font-size: 18px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-weight: bold;
}

.holiday {
	color: var(--text-error) !important;
}

.persian-calendar-week-header {
	height: 2.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.persian-calendar-week-header svg:hover {
	opacity: 0.6;
	cursor: pointer;
}

.no-notes {
	opacity: 0.4;
}

.persian-calendar-week-number .has-note {
	content: "\2022";
	color: var(--interactive-accent);
	font-size: 18px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.dynamic-grid-placement {
	grid-column-start: var(--dynamic-grid-start);
}

.dynamic-day-grid-placement {
	grid-column-start: var(--day-grid-start);
}

.persian-calendar-seasons-row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	grid-column: 1 / span 2;
	grid-row: auto;
}

.persian-calendar-season {
	cursor: pointer;
	padding: 5px 10px;
	font-size: 0.9rem;
}

.persian-calendar-season.current-season {
	color: var(--interactive-accent);
}

.persian-calendar-tooltip {
	position: absolute;
	background-color: var(--background-secondary);
	color: var(--text-normal);
	border: 1px solid var(--background-secondary);
	border-radius: 4px;
	padding: 8px;
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: none;
	direction: rtl;
}

.persian-calendar-rtl-notice {
	direction: rtl;
	text-align: right;
	unicode-bidi: plaintext;
}
