.persian-calendar__calendar {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 600px;
	padding: 0 5px;
	width: 100%;
}

.persian-calendar__content {
	border-top: 1px dashed var(--persian-calendar-color-base);
	column-gap: var(--persian-calendar-spacing-sm);
	display: grid;
	grid-template-columns: 50px minmax(0, 1fr);
	grid-template-rows: 40px repeat(var(--persian-calendar-weeks-count, 6), 40px);
	padding: 0 var(--persian-calendar-spacing-md);
	row-gap: var(--persian-calendar-gap-y-days);
}

.persian-calendar__weekday--container {
	align-items: center;
	border-bottom: 1px dashed var(--persian-calendar-color-base);
	display: grid;
	gap: 0 var(--persian-calendar-gap-x-days);
	grid-column: 2;
	grid-row: 1;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	height: 40px;
	padding: 0 5px;
}

.persian-calendar__weekday--name {
	align-items: center;
	display: flex;
	grid-column-start: auto;
	height: 40px;
	justify-content: center;
	text-align: center;
}

.persian-calendar__week-numbers {
	border-left: 1px dashed var(--persian-calendar-color-base);
	display: grid;
	grid-column: 1;
	grid-row: 1 / -1;
	grid-template-rows: 40px;
	grid-auto-rows: 40px;
	row-gap: var(--persian-calendar-gap-y-days);
	text-align: center;
}

.persian-calendar__week-number {
	align-items: center;
	background-color: var(--color-base-20);
	color: var(--color-base-100);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: relative;
	text-align: center;
	transition: background-color 0.4s ease;
}
.persian-calendar__week-number:hover {
	background-color: var(--persian-calendar-color-base);
}

.persian-calendar__refresh {
	align-items: center;
	border-bottom: 1px dashed var(--persian-calendar-color-base);
	display: flex;
	height: 100%;
	justify-content: center;
}
.persian-calendar__refresh svg {
	cursor: pointer;
	opacity: 0.4;
	transition: opacity var(--persian-calendar-duration);
}
.persian-calendar__refresh svg:hover {
	opacity: 0.8;
}
