.persian-calendar__datepicker-container > .modal {
	width: 320px;
}

.persian-calendar__datepicker {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	direction: rtl;
}

.persian-calendar__datepicker-header {
	display: grid;
	grid-template-columns: 32px 32px 1fr 32px 32px;
	align-items: center;
	gap: 6px;
}

.persian-calendar__datepicker-jmonth {
	text-align: center;
	font-weight: 600;
}

.persian-calendar__datepicker-arrow {
	padding: 4px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.persian-calendar__datepicker-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 32px;
	gap: 1px 2px;
	text-align: center;
	user-select: none;
	overflow: hidden;
	margin-bottom: 10px;
}

.persian-calendar__datepicker-weekday {
	font-weight: 600;
	padding-top: 7px;
	border-bottom: 1px dashed var(--persian-calendar-color-base-1);
	margin-bottom: 2px;
}

.persian-calendar__datepicker-day {
	background-color: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	appearance: none;
	line-height: 32px;
}

.persian-calendar__datepicker-day:hover {
	background-color: var(--persian-calendar-color-base-1);
	opacity: 0.8;
}

.persian-calendar__datepicker-day--selected {
	background-color: var(--persian-calendar-color-base-1);
	border: 1px solid var(--persian-calendar-color-base-2);
}

.persian-calendar__datepicker-day--current {
	border: 2px solid var(--persian-calendar-color-primary);
}

.persian-calendar__datepicker-no-current-month {
	opacity: 0.4;
	pointer-events: none;
}

.persian-calendar__datepicker .persian-calendar__go-current {
	flex: 1;
	font-size: 13px;
	padding: 6px 16px;
	color: var(--persian-calendar-color-primary);
}

.persian-calendar__datepicker .persian-calendar__go-current:hover {
	background-color: var(--persian-calendar-color-primary);
	color: var(--persian-calendar-color-static);
}

.persian-calendar__datepicker-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.persian-calendar__output-toggle {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	padding: 2px;
	box-shadow: inset 0 1px 2px var(--persian-calendar-color-base-2);
	background-color: var(--persian-calendar-color-base-1);
	flex-shrink: 0;
}

.persian-calendar__output-option {
	position: relative;
	padding: 4px 12px;
	font-size: 11px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 4px;
	z-index: 1;
	user-select: none;
	white-space: nowrap;
}

.persian-calendar__output-option.active {
	color: var(--persian-calendar-color-static);
	background: var(--persian-calendar-color-primary);
}

.persian-calendar__datepicker-button {
	width: 18px;
	height: 18px;
	cursor: pointer;
	padding: 0;
	outline: none;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.persian-calendar__datepicker-button.persian-calendar__datepicker-button {
	color: var(--persian-calendar-color-base-3);
}
