.persian-calendar {
	--persian-calendar-font: "Sahel", sans-serif;
	--persian-calendar-color-static: #f1f1f1;
	--persian-calendar-color-primary: var(--color-accent);
	--persian-calendar-color-primary-text: var(--color-base-100);
	--persian-calendar-color-holiday: var(--color-red);
	--persian-calendar-color-base: var(--color-base-30);
	--persian-calendar-color-additional-calendar: var(--color-base-60);
	--persian-calendar-fontSize-jmonth: 24px;
	--persian-calendar-duration: 0.2s;
	--persian-calendar-gap-x-days: 5px;
	--persian-calendar-gap-y-days: 7px;
}
